[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sailfishdoubanfm
Exec=harbour-sailfishdoubanfm
Name=DoubanFM
# translation example:
# your app name in German locale (de)
Name[de]=DoubanFM
Name[zh_CN]=豆瓣FM
